<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyBank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogInContoller</display-name>
    <servlet-name>LogInContoller</servlet-name>
    <servlet-class>com.controller.LogInContoller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInContoller</servlet-name>
    <url-pattern>/LogInContoller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccountController</display-name>
    <servlet-name>CreateAccountController</servlet-name>
    <servlet-class>com.controller.CreateAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountController</servlet-name>
    <url-pattern>/CreateAccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAdminController</display-name>
    <servlet-name>RegisterAdminController</servlet-name>
    <servlet-class>com.controller.RegisterAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAdminController</servlet-name>
    <url-pattern>/RegisterAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestController</display-name>
    <servlet-name>RequestController</servlet-name>
    <servlet-class>com.controller.RequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestController</servlet-name>
    <url-pattern>/RequestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginController</display-name>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>com.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NEFTController</display-name>
    <servlet-name>NEFTController</servlet-name>
    <servlet-class>com.controller.NEFTController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NEFTController</servlet-name>
    <url-pattern>/NEFTController</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>DisplayController</display-name>
    <servlet-name>DisplayController</servlet-name>
    <servlet-class>com.controller.NEFTController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayController</servlet-name>
    <url-pattern>/DisplayController</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.controller.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
</web-app>